
@{
    ViewBag.Title = "Tahografe Inteligente Craiova";
}
    <div class="container">
        <p class="header-title">Tahografe Inteligente Craiova</p>
        <hr>

        <!--Tahografe-->
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/img/TahoD.jpg" alt="" style="width:100%; height:400px;">
            </div>
            <div class="col-sm-6">
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Tahograful inteligent este un aparat cu ajutorul căruia autovehiculele utilizate la transportul rutier de mărfuri şi de călători vor fi controlate în timpul mersului și nu vor mai fi oprite decât dacă autoritatea de control are suspiciuni.</p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Dispozitivul primește informații de la mai mulți sateliți europeni de comunicații, memorează coordonatele geografice de la începutul și finalul călătoriei, dar și din timpul traseului, își setează singur ora locală și transmite toate datele printr-o conexiune securizată.</p>
                <p style="text-align:left; display: inline-block;font-size:16px; margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Tahograful inteligent va ajuta companiile de transport și pe conducătorii auto ai acestor autovehicule să respecte timpii de condus și odihnă: șoferii vor fi mai bine protejați, iar competiția pe această piață va fi mult mai corectă.</p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;">
                    <i class="fa fa-angle-double-right"></i> Comisia Europeană a revizuit legislația privind utilizarea tahografelor, în principal pentru a îngreuna manipularea datelor din tahograf, dar și pentru a eficientiza procesele de administrare și control. Rezultatul este anexa 1C (UE 2016/799), care a fost aprobată în iunie 2016 și care conduce la introducerea tahografului "inteligent" începând cu 15 iunie 2019.

                    Peste șase milioane de camioane și autobuze din întreaga UE sunt echipate cu tahografe și se speră că noile dispozitive inteligente vor reduce procesul administrativ și manipularea tahografelor digitale actuale.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Noul tahograf digital inteligent respectă legislația în ceea ce privește protecția datelor cu caracter personal (GDPR) și are un așa numit “Privacy Button”, iar sistemul de control ITS poate face diferența între datele libere și cele private. </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Tahografele smart vor avea un modul GNSS (Global Navigation Satellite System), care înregistrează automat locația vehiculului la începutul și la sfârșitul călătoriei, de asemenea o actualizează la fiecare trei ore. Vestea bună pentru șoferi este că nu mai este nevoie de introducerea manuală a țării. </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> În plus, tahograful inteligent va putea comunica de la distanță cu organele de control. Acestea  vor utiliza un aparat radio cu rază scurtă de acțiune, verificând de la distanță anumite date ale tahografului, fără a opri vehiculul. Astfel, ei pot detecta de la distanță potențialele infracțiuni. Dacă nu se regăsesc probleme, șoferii  își continuă călătoria fără întreruperi - fără a pierde timp prețios pentru inspecțiile inutile la marginea drumului. </p>

            </div>
            <div class="col-sm-6">
                <iframe width="550" height="350" src="https://www.youtube.com/embed/RPN87nouUl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <img src="~/Content/img/tah3.jpg" alt="" style="width:100%; height:400px;">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p style="text-align:justify; font-size:22px; font-weight: bold; margin-bottom:25px;"> Ce schimbări aduc noile tahografe inteligente?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p style="text-align:left; display: inline-block;font-size:18px;  margin-bottom:10px; font-weight:bold;">  <i class="fa fa-angle-double-right"></i> 1. Înregistrarea automată a locației exacte </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"> Tahograful inteligent va înregistra în mod automat locația vehiculului utilizând GPS-ul la următoarele puncte: </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  locul de plecare al duratei zilnice de lucru </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  timpul de conducere acumulat la fiecare trei ore</p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  locul final al duratei zilnice de lucru. </p>

                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:45px;">
                    În prezent, tahograful digital înregistrează doar un cod de țară, de exemplu "RO". Acest lucru presupune înregistrarea manuală a locației de către șofer. Noul sistem va înregistra automat locația exactă și astfel, nu va mai exista nicio problemă cu privire la locul unde se află un vehicul  - acum locația exactă va fi cunoscută, cu o marjă de eroare de câțiva metri.
                </p>

                <p style="text-align:left; display: inline-block;font-size:18px;  margin-bottom:10px; font-weight:bold;">  <i class="fa fa-angle-double-right"></i> 3. Sisteme inteligente de transport </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"> Tahograful inteligent de a patra generație, va avea de asemenea posibilitatea de partaja datele și cu alte sisteme telematice omologate. Toate informațiile vor putea fi acum păstrate într-un singur loc, în timp real, fără ca operatorul de transport să fie nevoit să se bazeze pe estimări privind obligațiile șoferului sau informațiile furnizate de conducătorul auto. Pot exista analize în timp real și acest lucru poate ajuta la planificarea încărcării. Totuși, vor exista două protecții importante pentru acest lucru, după cum urmează: </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  Interfața telematică nu trebuie să afecteze autenticitatea și integritatea datelor din tahograf.</p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  Dispozitivul extern conectat la interfață poate avea acces la datele cu caracter personal, inclusiv la datele despre geolocația acestuia, numai după consimțământul verificabil al conducătorului auto căruia îi aparțin datele.</p>

            </div>
            <div class="col-sm-6">
                <p style="text-align:left; display: inline-block;font-size:18px;  margin-bottom:10px; font-weight:bold;">  <i class="fa fa-angle-double-right"></i> 2. Interogarea datelor din tahograf pe șosea </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"> Odată cu introducerea noilor tahografe inteligente, organele de control vor putea să scaneze (cu ajutorul tehnologiei wireless), datele vehiculelor care trec, fără a fi nevoie să le oprească pentru a detecta anumite infracțiuni potențiale. Acest lucru va permite ofițerilor să decidă dacă este necesar să oprească vehiculul sau nu, în mare măsură în același mod în care senzorii de cântărire în mișcare (WIMS) sunt utilizați pentru a detecta eventualele infracțiuni de supraîncărcare. </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"> Datele "scanate" se vor referi la următoarele evenimente sau date înregistrate de tahograf: </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  cea mai recentă încercare de încălcare a securității </p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  cea mai lungă întrerupere a alimentării cu energie electrică</p>
                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  conflict de mișcare a vehiculului </p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  eroare de date de mișcare </p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  defecțiune senzor </p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  conducerea fără un card valid </p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  introducerea cardului în timpul conducerii </p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  datele de calibrare, inclusiv datele celor două cele mai recente calibrări </p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  datele de înregistrare a vehiculului </p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;"><i class="fa fa-circle-o"></i>  viteza înregistrată de tahograf. </p>

                <p style="text-align:left; display: inline-block;font-size:16px;  margin-bottom:10px;">
                    Datele nu vor conține informații despre abaterile tipice ale șoferului de la timpul de condus, cum ar fi depășirea zilnică a orelor legale de condus sau nerealizarea pauzei după 4½ ore de condus. Datele scanate pot fi stocate de către autorități numai pe durata verificării efectuate pe marginea drumului.
                </p>
            </div>
        </div> <br/> 

        <!--Servicii disponibile -->
        <div class="row">
            <div class="col-sm-6">
                <div class="container-tahografe">
                    <p style="text-align:justify; font-size:22px; font-weight: bold; margin-bottom:25px;"> Servicii disponibile</p>

                    <p style="text-align:justify; font-size:18px; font-weight: bold; margin-bottom:17px;"> <i class="fa fa-angle-double-right"></i> Comercializare tahografe</p>
                    <p style="text-align:justify; font-size:16px;  margin-bottom:10px;">Comercializam tahografe digitale de ultima generatie la preturi competitive.</p>

                    <p style="text-align:justify; font-size:18px; font-weight: bold; margin-bottom:17px;"> <i class="fa fa-angle-double-right"></i> Montaj tahograf</p>
                    <p style="text-align: justify;font-size: 16px;margin-bottom: 10px;">Asiguram montaj autorizat de tahografe realizat de personal calificat.</p>

                    <p style="text-align: justify;font-size: 18px;font-weight: bold;margin-bottom: 17px;"> <i class="fa fa-angle-double-right"></i> Reparatii tahografe</p>
                    <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Reparam majoritatea tipurilor de tahografe digitale in service-ul nostru autorizat.</p>

                    <p style="text-align: justify;font-size: 18px;font-weight: bold;margin-bottom: 17px;"> <i class="fa fa-angle-double-right"></i> Verificam tahografe</p>
                    <p style="text-align:justify; font-size:16px;  margin-bottom:10px;">Suntem autorizati pentru a effectua verificarea tahografelor conform legii Europene.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <p style="text-align:center; font-size:22px; padding-bottom: 10px; font-weight: bold;"></p>
                <p style="text-align:center; font-size:18px"> Asiguram service complet si dedicat pentru majoritatea modelelor de tahografe din comert.</p>
                <iframe width="550" height="300" src="https://www.youtube.com/embed/UwqbjGTzs0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <br />
        <!--Efectuam service tahografe autorizat -->
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align: left;font-size: 22px;padding-bottom: 10px;font-weight: bold;"> Efectuam service tahografe autorizat</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <img src="~/Content/img/tahograf.jpg" alt="" style="width:100%; height:400px;">
            </div>
            <div class="col-sm-4">
                <p style="text-align:left; display: inline-block;font-size:20px; font-weight:bold; margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Ai probleme cu vitezometrul?</p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Ai erori oscilante sau nu se mai  ridica vitezometrul?</p>

                <p style="text-align:left; display: inline-block;font-size:20px; font-weight:bold; margin-bottom:10px;"><i class="fa fa-angle-double-right"></i> Ai probleme cu diagrama?</p>
                <p style="text-align: left;font-size: 16px;margin-bottom: 10px;">Nu iti mai scrie pe diagrama sau exista erori de scriere?</p>

                <p style="text-align:left; display: inline-block;font-size:20px; font-weight:bold; margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Ai probleme cu cardul tahografului digital?</p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Se blocheaza cardul sau este eliminat din aparat?</p>
                <br />
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Daca intampini aceste probleme la tahograful instalat, iti recomandam sa ne faci o vizita in service.</p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Remedierea de catre persoane neautorizate poate cauza contraventii!</p>
            </div>
        </div>

        <!--Montaj Tahograf -->
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align: left;font-size: 22px;padding-bottom: 10px;font-weight: bold;"> Montaj Tahograf</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px; ">
                    Asiguram montaj tahografe autorizat de Regia Autonomă “Registrul Auto Roman” in conformitate cu prevederile Regulamentului Consiliului (CEE) nr. 3.821/85.
                </p>
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">
                    Tahografele montate pe autovehicule trebuie verificate periodic, o dată la 2 ani. Puteti verifica atunci cand se implinesc 2 ani de la montaj tahograful in service-ul nostru.
                </p>
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">
                    Dupa montaj firma noastra va aplica o placa de montare in apropierea tahografului care sa ateste montajul si care sa reprezinte o dovada de montaj autorizat.
                </p>
            </div>
            <div class="col-sm-6">
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">
                    <iframe width="550" height="300" src="https://www.youtube.com/embed/Y2iMjEXlF9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
            </div>
        </div>

        <!--Comercializam o gama variata de tahograf -->
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align:center; font-size:22px; padding-bottom: 10px; font-weight: bold;"> Comercializam o gama variata de tahografe</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">Aditional serviciilor de Service Tahografe va oferim posibilitatea de a achizitiona tahografe direct de la noi.</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align:left; font-size:18px; padding-bottom: 10px;">Fiecare client este tratat cu seriozitate. Daca ai probleme cu tahograful cu siguranta noi suntem cei in masura sa te ajutam.</p>
            </div>
        </div>

        <!--Imagini-->
        <div class="row">
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/tActia.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital Actia Smartach</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TEFAS.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital EFAS EFKON 3t</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TFKON4.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital EFAS EFKON 4</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TSimens.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital Siemens VDO DTCO</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TStone.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital Stoneridge SE-5000</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TEGK.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf EGK 100</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TS2.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Siemens 1324</p>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>