
@{
    ViewBag.Title = "Tahografe Inteligente Craiova";
}
    <div class="container">
        <p class="header-title">Tahografe Inteligente Craiova</p>
        <hr>

        <!--Servicii disponibile -->
        <div class="row">
            <div class="col-sm-6">
                <div class="container-tahografe">
                    <p style="text-align:justify; font-size:22px; font-weight: bold; margin-bottom:25px;"> Servicii disponibile</p>

                    <p style="text-align:justify; font-size:18px; font-weight: bold; margin-bottom:17px;"> <i class="fa fa-angle-double-right"></i> Comercializare tahografe</p>
                    <p style="text-align:justify; font-size:16px;  margin-bottom:10px;">Comercializam tahografe digitale de ultima generatie la preturi competitive.</p>

                    <p style="text-align:justify; font-size:18px; font-weight: bold; margin-bottom:17px;"> <i class="fa fa-angle-double-right"></i> Montaj tahograf</p>
                    <p style="text-align: justify;font-size: 16px;margin-bottom: 10px;">Asiguram montaj autorizat de tahografe realizat de personal calificat.</p>

                    <p style="text-align: justify;font-size: 18px;font-weight: bold;margin-bottom: 17px;"> <i class="fa fa-angle-double-right"></i> Reparatii tahografe</p>
                    <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Reparam majoritatea tipurilor de tahografe digitale in service-ul nostru autorizat.</p>

                    <p style="text-align: justify;font-size: 18px;font-weight: bold;margin-bottom: 17px;"> <i class="fa fa-angle-double-right"></i> Verificam tahografe</p>
                    <p style="text-align:justify; font-size:16px;  margin-bottom:10px;">Suntem autorizati pentru a effectua verificarea tahografelor conform legii Europene.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <p style="text-align:center; font-size:22px; padding-bottom: 10px; font-weight: bold;"></p>
                <p style="text-align:center; font-size:18px"> Asiguram service complet si dedicat pentru majoritatea modelelor de tahografe din comert.</p>
                <iframe width="550" height="300" src="https://www.youtube.com/embed/UwqbjGTzs0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <br />

        <!--Efectuam service tahografe autorizat -->
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align: left;font-size: 22px;padding-bottom: 10px;font-weight: bold;"> Efectuam service tahografe autorizat</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <img src="~/Content/img/tahograf.jpg" alt="" style="width:100%; height:400px;">
            </div>
            <div class="col-sm-4">
                <p style="text-align:left; display: inline-block;font-size:20px; font-weight:bold; margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Ai probleme cu vitezometrul?</p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Ai erori oscilante sau nu se mai  ridica vitezometrul?</p>

                <p style="text-align:left; display: inline-block;font-size:20px; font-weight:bold; margin-bottom:10px;"><i class="fa fa-angle-double-right"></i> Ai probleme cu diagrama?</p>
                <p style="text-align: left;font-size: 16px;margin-bottom: 10px;">Nu iti mai scrie pe diagrama sau exista erori de scriere?</p>

                <p style="text-align:left; display: inline-block;font-size:20px; font-weight:bold; margin-bottom:10px;">  <i class="fa fa-angle-double-right"></i> Ai probleme cu cardul tahografului digital?</p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Se blocheaza cardul sau este eliminat din aparat?</p>
                <br />
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Daca intampini aceste probleme la tahograful instalat, iti recomandam sa ne faci o vizita in service.</p>
                <p style="text-align:left; font-size:16px;  margin-bottom:10px;">Remedierea de catre persoane neautorizate poate cauza contraventii!</p>
            </div>
        </div>

        <!--Montaj Tahograf -->
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align: left;font-size: 22px;padding-bottom: 10px;font-weight: bold;"> Montaj Tahograf</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px; ">
                    Asiguram montaj tahografe autorizat de Regia Autonomă “Registrul Auto Roman” in conformitate cu prevederile Regulamentului Consiliului (CEE) nr. 3.821/85.
                </p>
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">
                    Tahografele montate pe autovehicule trebuie verificate periodic, o dată la 2 ani. Puteti verifica atunci cand se implinesc 2 ani de la montaj tahograful in service-ul nostru.
                </p>
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">
                    Dupa montaj firma noastra va aplica o placa de montare in apropierea tahografului care sa ateste montajul si care sa reprezinte o dovada de montaj autorizat.
                </p>
            </div>
            <div class="col-sm-6">
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">
                    <iframe width="550" height="300" src="https://www.youtube.com/embed/Y2iMjEXlF9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
            </div>
        </div>

        <!--Comercializam o gama variata de tahograf -->
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align:center; font-size:22px; padding-bottom: 10px; font-weight: bold;"> Comercializam o gama variata de tahografe</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p style="text-align:justify; font-size:18px; padding-bottom: 10px;">Aditional serviciilor de Service Tahografe va oferim posibilitatea de a achizitiona tahografe direct de la noi.</p>
            </div>
            <div class="col-sm-6">
                <p style="text-align:left; font-size:18px; padding-bottom: 10px;">Fiecare client este tratat cu seriozitate. Daca ai probleme cu tahograful cu siguranta noi suntem cei in masura sa te ajutam.</p>
            </div>
        </div>

        <!--Imagini-->
        <div class="row">
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/tActia.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital Actia Smartach</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TEFAS.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital EFAS EFKON 3t</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TFKON4.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital EFAS EFKON 4</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TSimens.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital Siemens VDO DTCO</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TStone.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Digital Stoneridge SE-5000</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TEGK.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf EGK 100</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/TS2.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Tahograf Siemens 1324</p>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>