
@{
    ViewBag.Title = "Tahografe Inteligente Craiova";
}

<div class="container">
    <p class="header-title">Tahografe Inteligente</p>
    <hr>
    <div style="width:100%; height:400px; background:#0c224f; margin-bottom:50px;">
        <p style="text-align:center;  font-size:40px; color: white; padding-top:160px;">Pagina in constructie</p>
    </div>
</div>


