
@{
    ViewBag.Title = "Despre noi";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="despre-banner-top">
                <img src="~/Content/img/desprenoi-top.jpg" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="despre-photo">
                <img src="~/Content/img/despre-noi-tir.jpg" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="despre-text">
                <p>
                    Moba tehnic este o companie de transport rutier international infiintata in anul 2012 cu parc propriu de masini, cu asigurare
                    CMR / GLOBALA si un departament de expeditii cu coordonatori de transport care pot comunica cu clientii dvs. externi.
                </p>
                <p>
                    Companie de transport intern și international, din Craiova cu experiența vasta in domeniul transporturilor încă din anul 2012.
                    Suntem o companie in plina de dezvoltare de aceea cautam in permanenta parteneri stabili si constanti carora sa le oferim serviciile
                    noastre. Atat ca transportator, cat si ca expeditor, va asiguram de cea mai buna satisfacere a cerintelor dvs., necesitatile si
                    exigentele clientilor fiind prioritatea noastra.
                </p>
                <p>Va punem la dispozitie urmatoarele tipuri de camioane: </p>
                <ul>
                    <li>Camioane cu prelata</li>
                    <li>Duba frigorifica</li>
                    <li>Trailer</li>
                    <li>Bena</li>
                    <li>Cu sarcina utila 20-24 tone si inaltime de pana la 3 metri</li>
                </ul>
                <p>
                    Firma noastra are o echipa competenta, flexibila si dinamica, permanent in contact cu partenerii sai, gata oricand sa rezolve orice nevesitate
                    de transport.
                </p>
            </div>
        </div>
    </div>
</div>
