
@{
    ViewBag.Title = "Despre noi";
}

<h2>
    Moba tehnic este o companie de transport rutier international infiintata in anul 2012 cu parc propriu de masini cu asigurare CMR / GLOBALA și departament de expediții cu coordonatori de transport care pot comunica cu clienții dvs. externi.Companie de transport intern și internațional , din Craiova cu experiență în domeniul transporturilor încă din anul 2012 .
    Suntem o companie plina de dezvoltare de aceea cautam in permanenta parteneri stabili si constanti carora sa le oferim serviciile noastre.Atat ca transportator, cat si ca expeditor, va asiguram de cea mai buna satisfacere a cerintelor dvs., necesitatile si exigentele clientilor fiind prioritatea noastra.
    Firma noastra are o echipa competenta, flexibila si dinamica, permanent in contact cu partenerii sai,gata oricand in a va rezolva necesitatile de transport.
    Va punem la dispozitie urmatoarele tipuri de camioane pentru destinatiile de mai sus:

    camioane cu prelata,
    duba frigorifica,
    trailer,
    bena,
    cu sarcina utila 20-24 tone si inaltime de pana la 3 metri,
</h2>

