@{
    ViewBag.Title = "Contact";
}


<div class="container animated fadeIn">
    <div class="row">
        <h1 class="header-title"> Contact </h1>
        <hr>
        <div class="col-sm-12" id="parent">
            <div class="col-sm-8">
                <iframe width="100%" height="345px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1427.7932719878188!2d23.8386017!3d44.2978911!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d7e4a734fb37%3A0x7142e077f83ce40f!2sITP+si+Tahografe+Toate+Categoriile+Moba+Tehnic!5e0!3m2!1sro!2sro!4v1538939995013" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4">
                @{
                    Html.RenderPartial("~/Views/ContactForm/ContactForm.cshtml");
                }

            </div>
        </div>
    </div>
    <div class="container second-portion">
        <div class="row">
            <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">MAIL & WEBSITE</h3>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp gondhiyahardik6610@gmail.com
                                <br>
                                <br>
                                <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com
                            </p>

                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">CONTACT</h3>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
                                <br>
                                <br>
                                <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-7567065254
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">ADRESA</h3>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot
                                "Shree Krishna Krupa", Rajkot - 360001.
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>


        </div>
    </div>
</div>