
@{
    ViewBag.Title = "Acte auto";
}

<div class="container">
    <p class="header-title">Birou Acte auto</p>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h4>Compania noastra va pune la dispozitie urmatoarele servicii:</h4>
            <ul class="list-group checked-list-box">
                <li class="list-group-item"><i class="fa fa-angle-double-right"></i> deplasare la Direcția de Impozite și Taxe pentru inregistrarea masinilor in evidenta; </li>
                <li class="list-group-item"><i class="fa fa-angle-double-right"></i> deplasare la Direcția de Impozite și Taxe pentru scoaterea masinilor din evidenta; </li>
                <li class="list-group-item"><i class="fa fa-angle-double-right"></i> deplasare la Registrul Auto Roman (R.A.R);</li>
                <li class="list-group-item"><i class="fa fa-angle-double-right"></i> servicii de eliberare a numerelor provizorii pentru autovehiculul dumneavoastra;</li>
                <li class="list-group-item"><i class="fa fa-angle-double-right"></i> servicii de eliberare a certificatului de inmatriculare</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <iframe width="100%" height="300px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2855.0409876819776!2d23.808777715519174!3d44.309107879104396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d7ae5ae01e13%3A0x705706af87756448!2sStrada+General+Dragalina+70%2C+Craiova!5e0!3m2!1sen!2sro!4v1539111186646" allowfullscreen></iframe>
        </div>

    </div>
    <div class="acte-panel">

        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Inmatriculare vehicul second-hand inmatriculat in RO <span class="flag-icon flag-icon-ro"></span></a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group list-group-striped">
                                <li class="list-group-item">Cererea de înmatriculare a solicitantului;</li>
                                <li class="list-group-item">Fişa de înmatriculare, semnată/ștampilată de fostul şi noul proprietar, vizată la Direcția Taxe și Impozite Locale (în locul vizei fostului proprietar se poate depune certificatul de atestare fiscală emis de Direcția Taxe și Impozite Locale);</li>
                                <li class="list-group-item">Cartea de identitate a vehiculului (CIV), în original şi copie;</li>
                                <li class="list-group-item">Dovada efectuării inspecţiei tehnice periodice, în termen de valabilitate;</li>
                                <li class="list-group-item">Documentul care atestă dreptul de proprietate, în original şi copie;</li>
                                <li class="list-group-item">Actul de identitate al solicitantului, în original şi copie;</li>
                                <li class="list-group-item">Copia asigurării RCA, în termen de valabilitate;</li>
                                <li class="list-group-item">Taxa de înmatriculare de 60 RON – NU se mai achită, taxa a fost eliminată;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii certificatului de înmatriculare;</li>
                                <li class="list-group-item">Certificatul de înmatriculare al fostului proprietar în care acesta a înscris transmiterea dreptului de proprietate, semnat/ștampilat;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii plăcuţelor cu numărul de înmatriculare dacă acestea se schimbă;</li>
                                <li class="list-group-item">Plăcuţele cu numărul de înmatriculare, dacă fostul proprietar are domiciliul/sediul pe raza altui judeţ şi nu a optat pentru păstrarea numărului respectiv. Dacă noul proprietar doreşte un număr preferenţial, acesta va trebui să predea şi plăcuţele cu numărul de înmatriculare existente pe vehicul. Acestea nu vor fi predate dacă fostul proprietar a optat şi achitat păstrarea numărului de înmatriculare respectiv sau dacă se vor păstra plăcuțele în cazul în care vânzătorul și cumpărătorul sunt din același județ;</li>
                                <li class="list-group-item">În cazul persoanelor juridice vor fi depuse documentele care să ateste dobândirea personalităţii juridice, denumirea şi sediul, în copie (de exemplu certificat înregistrare la Registrul Comerţului), precum și împuternicirea reprezentatului legal al acestora;</li>
                                <li class="list-group-item">Procură specială autentificată de notarul public, în cazul în care documentele se depun de o altă persoană decât titularul, persoană fizică;</li>
                                <li class="list-group-item">Timbrul de mediu NU se mai achită, taxa auto a fost eliminată.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2">Inmatriculare vehicul second-hand achizitionat din UE <span class="flag-icon flag-icon-eu"></span></a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group list-group-striped">
                                <li class="list-group-item">Cererea de înmatriculare a solicitantului;</li>
                                <li class="list-group-item">Fişa de înmatriculare vizată la Direcția Taxe și Impozite Locale de care aparține cumpărătorul;</li>
                                <li class="list-group-item">Cartea de identitate a vehiculului (CIV), în original şi copie;</li>
                                <li class="list-group-item">Documentul care atestă dreptul de proprietate, în original şi copie;</li>
                                <li class="list-group-item">Actul de identitate al solicitantului, în original şi copie;</li>
                                <li class="list-group-item">Dovada efectuării inspecţiei tehnice periodice, în termen de valabiliate;</li>
                                <li class="list-group-item">Copia asigurării RCA, în termen de valabilitate;</li>
                                <li class="list-group-item">Documentele de înmatriculare eliberate de autorităţile străine, în original, precum şi plăcuţele cu numărul de înmatriculare;</li>
                                <li class="list-group-item">Taxa de înmatriculare de 60 RON – NU se mai achită, taxa a fost eliminată;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii certificatului de înmatriculare;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii plăcuţelor cu numărul de înmatriculare;</li>
                                <li class="list-group-item">Timbrul de mediu NU se mai achită, taxa auto a fost eliminată;</li>
                                <li class="list-group-item">În cazul persoanelor juridice vor fi depuse documentele care să ateste dobândirea personalităţii juridice, denumirea şi sediul, în copie (de exemplu certificat înregistrare la Registrul Comerţului), precum și împuternicirea reprezentatului legal al acestora;</li>
                                <li class="list-group-item">Procură specială autentificată de notarul public, în cazul în care documentele se depun de o altă persoană decât titularul, persoană fizică;</li>
                                <li class="list-group-item">
                                    În situaţia în care persoana care a realizat achiziţia intracomunitară a mijlocului de transport şi solicită înmatricularea acestuia, nu este înregistrată în scopuri de TVA conform art.153 din Legea nr. 571/2003 cu modificările şi completările ulterioare, se vor depune, după caz şi următoarele documente:
                                    <p> • formularul “Certificat privind atestarea plăţii taxei pe valoarea adăugată, în cazul achiziţiilor intracomunitare de mijloace de transport noi”, dacă mijlocul de transport este nou în sensul titlului VI din Legea nr.571/2003, cu modificările şi completările ulterioare</p>
                                    <p><strong>sau</strong></p>
                                    <p> • formularul “Certificat”, dacă mijlocul de transport nu este nou în sensul titlului VI din Legea nr.571/2003, cu modificările şi completările ulterioare. </p>
                                <li class="list-group-item">Certificat care atestă plata accizelor, în cazul în care persoanele fizice care solicită înmatricularea unui autoturism sau autoturism de teren, achiziţie intracomunitară, a cărui capacitate cilindrică este mai mare sau egală cu 3000 cmc, potrivit prevederilor art. 211 din Legea nr. 571/2003 privind Codul fiscal, cu modificările şi completările ulterioare. Modelul certificatului care atestă plata accizelor este prevăzut în Ordinul Preşedintelui ANAF publicat în Monitorul Oficial al României, Partea I nr. 663/29.10.2013.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse3">Inmatriculare vehicul NOU achizitionat din RO sau UE <span class="flag-icon flag-icon-eu"></span> <span class="flag-icon flag-icon-ro"></span></a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <ul class="list-group list-group-striped">
                                <li class="list-group-item">Cererea de înmatriculare a solicitantului;</li>
                                <li class="list-group-item">Fişa de înmatriculare vizată la Direcția Taxe și Impozite Locale de care aparține cumpărătorul;</li>
                                <li class="list-group-item">Cartea de identitate a vehiculului (CIV), în original şi copie;</li>
                                <li class="list-group-item">Documentul care atestă dreptul de proprietate, în original şi copie;</li>
                                <li class="list-group-item">Actul de identitate al solicitantului, în original şi copie;</li>
                                <li class="list-group-item">Copia asigurării RCA, în termen de valabilitate;</li>
                                <li class="list-group-item">Taxa de înmatriculare de 60 RON – NU se mai achită, taxa a fost eliminată;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii certificatului de înmatriculare;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii plăcuţelor cu numărul de înmatriculare;</li>
                                <li class="list-group-item">Timbrul de mediu NU se mai achită, taxa auto a fost eliminată;</li>
                                <li class="list-group-item">În cazul persoanelor juridice vor fi depuse documentele care să ateste dobândirea personalităţii juridice, denumirea şi sediul, în copie (de ex. certificat înregistrare la Registrul Comerţului) precum și împuternicirea reprezentatului legal al acestora;</li>
                                <li class="list-group-item">Procură specială autentificată de notarul public, în cazul în care documentele se depun de o altă persoană decât titularul, persoană fizică;</li>
                                <li class="list-group-item">
                                    În situaţia în care persoana care a realizat achiziţia intracomunitară a mijlocului de transport şi solicită înmatricularea acestuia, nu este înregistrată în scopuri de TVA conform art.153 din Legea nr. 571/2003 cu modificările şi completările ulterioare, se vor depune, după caz şi următoarele documente:<br>
                                    <p>
                                        • formularul “Certificat privind atestarea plăţii taxei pe valoarea adăugată, în cazul achiziţiilor intracomunitare de mijloace de transport noi”, dacă mijlocul de transport este nou în sensul titlului VI din Legea nr.571/2003, cu modificările şi completările ulterioare,
                                    </p>
                                    <p><strong>sau</strong></p>
                                    <p>• formularul “Certificat”, dacă mijlocul de transport nu este nou în sensul titlului VI din Legea nr.571/2003, cu modificările şi completările ulterioare. </p>
                                </li>
                                <li class="list-group-item">Certificat care atestă plata accizelor, în cazul în care persoanele fizice care solicită înmatricularea unui autoturism sau autoturism de teren, achiziţie intracomunitară, a cărui capacitate cilindrică este mai mare sau egală cu 3000 cmc, potrivit prevederilor art. 211 din Legea nr.571/2003 privind Codul fiscal, cu modificările şi completările ulterioare. Modelul certificatului care atestă plata accizelor este prevăzut în Ordinul Preşedintelui ANAF publicat în Monitorul Oficial al României, Partea I nr. 663/29.10.2013.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse4">Inmatriculare vehicul NOU achizitionat din afara UE <span class="fa fa-globe" aria-hidden="true"></span></a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <ul class="list-group list-group-striped">
                                <li class="list-group-item">Cererea de înmatriculare a solicitantului;</li>
                                <li class="list-group-item">Fişa de înmatriculare vizată la Direcția Taxe și Impozite Locale de care aparține cumpărătorul;</li>
                                <li class="list-group-item">Cartea de identitate a vehiculului (CIV), în original şi copie;</li>
                                <li class="list-group-item">Documentul care atestă dreptul de proprietate, în original şi copie;</li>
                                <li class="list-group-item">Actul de identitate al solicitantului, în original şi copie;</li>
                                <li class="list-group-item">Copia asigurării RCA, în termen de valabilitate;</li>
                                <li class="list-group-item">Dovada efectuării formalităţilor vamale de import (definitiv sau temporar), în original sau copie legalizată;</li>
                                <li class="list-group-item">Taxa de înmatriculare de 60 RON – NU se mai achită, taxa a fost eliminată;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii certificatului de înmatriculare;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii plăcuţelor cu numărul de înmatriculare;</li>
                                <li class="list-group-item">Timbrul de mediu NU se mai achită, taxa auto a fost eliminată;</li>
                                <li class="list-group-item">În cazul persoanelor juridice vor fi depuse documentele care să ateste dobândirea personalităţii juridice, denumirea şi sediul, în copie (de ex. certificat înregistrare la Registrul Comerţului) precum și împuternicirea reprezentatului legal al acestora;</li>
                                <li class="list-group-item">Procură specială autentificată de notarul public, în cazul în care documentele se depun de o altă persoană decât titularul, persoană fizică.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse5">Inmatriculare vehicul second-hand achizitionat din afara UE <span class="fa fa-globe" aria-hidden="true"></span></a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <ul class="list-group list-group-striped">
                                <li class="list-group-item">Cererea de înmatriculare a solicitantului;</li>
                                <li class="list-group-item">Fişa de înmatriculare vizată la Direcția Taxe și Impozite Locale de care aparține cumpărătorul;</li>
                                <li class="list-group-item">Cartea de identitate a vehiculului (CIV), în original şi copie;</li>
                                <li class="list-group-item">Certificatul de autenticitate eliberat de Registrul Auto Român;</li>
                                <li class="list-group-item">Dovada efectuării inspecţiei tehnice periodice în termen de valabilitate;</li>
                                <li class="list-group-item">Documentul care atestă dreptul de proprietate, în original şi copie;</li>
                                <li class="list-group-item">Actul de identitate al solicitantului, în original şi copie;</li>
                                <li class="list-group-item">Copia asigurării RCA, în termen de valabilitate;</li>
                                <li class="list-group-item">Dovada efectuării formalităţilor vamale de import (definitiv sau temporar), în original sau copie legalizată;</li>
                                <li class="list-group-item">Documentele de înmatriculare eliberate de autorităţile străine, în original, precum şi plăcuţele cu numărul de înmatriculare;</li>
                                <li class="list-group-item">Taxa de înmatriculare de 60 RON – NU se mai achită, taxa a fost eliminată;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii certificatului de înmatriculare;</li>
                                <li class="list-group-item">Dovada plăţii contravalorii plăcuţelor cu numărul de înmatriculare;</li>
                                <li class="list-group-item">Timbrul de mediu NU se mai achită, taxa auto a fost eliminată;</li>
                                <li class="list-group-item">În cazul persoanelor juridice vor fi depuse documentele care să ateste dobândirea personalităţii juridice, denumirea şi sediul, în copie (de ex. certificat înregistrare la Registrul Comerţului) precum și împuternicirea reprezentatului legal al acestora;</li>
                                <li class="list-group-item">Procură specială autentificată de notarul public, în cazul în care documentele se depun de o altă persoană decât titularul, persoană fizică.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

