<div class="modal fade right" id="efas3-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="Efas3ProductModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">Tahograf Digital EFAS EFKON 3</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5 product-modal-image">
                        <img src="~/Content/img/products/tahographs/TEFAS.jpg"
                             class="img-fluid">
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                Tahograful digital <strong>EFAS-3</strong> reprezinta un produs superior din punct de vedere tehnic, care indeplineste cerintele legislatiei europene actuale, in acelasi timp oferind atat conducatorilor auto cat si managerilor de flote comerciale, un sistem extrem de eficient si usor de utilizat.
                            </p>
                            <p>
                                Avantajele Tahografului digital EFAS-3:
                            </p>
                            <ul>
                                <li>
                                    Imprimarea rapida a rapoartelor
                                </li>
                                <li>
                                    Citirea usoara a informatiilor pe display; fara prescurtari, meniu in limba romana
                                </li>
                                <li>
                                    Descarcarea mai rapida a datelor de la tahograf, comparativ cu alte modele
                                </li>
                                <li>
                                    Modulul imprimantei EFAS-3 este detasabil de corpul tahografului. Inlocuirea imprimantei se face usor, fara a fi necesara demontarea unitatii. De asemenea nu este necesara recalibrarea tahografului in cazul inlocuirii imprimantei.
                                </li>
                                <li>
                                    Este disponibil (optional) modulul RDD (Remote Data Download), pentru descarcarea datelor (atat datele de pe cardul conducatorului auto, cat si datele din memoria interna a tahografului) la distanta
                                </li>
                                <li>
                                    Comutarea automata pe activitatea dorita la stationarea vehiculului – aceasta setare se efectueaza simplu, cu ajutorul cardului de comapnie
                                </li>
                                <li>
                                    Compatibilitatea cu majoritatea testerelor de programare existente pe piata
                                </li>
                            </ul>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>