<div class="modal fade right" id="efas4-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="Efas4ProductModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">Tahograf Digital EFAS EFKON 4</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/tkDGYvTEi8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                <strong>EFAS-4</strong> este noul tahograf digital produs de intellic Germany GmbH. EFAS-4 vine cu o nouă versiune de soft mult mai performantă decat predecesorul său și mult mai fiabil, fiind probabil ce mai bun tahograf din intreaga lume. EFAS-4 are o garantie de 2 ani de la data instalarii atat pe teritoriul Romaniei cat si in tarile membre Uniunii Europene.
                            </p>
                            <p>
                                <strong>Tahograful digital EFAS-4</strong> poate inlocui orice unitate auto digitala deteriorata fara a fi
                                nevoie sa se activeze sursa secundara de semnal de viteza.
                            </p>
                            <p>
                                Tahograful digital EFAS-4 este compatibil cu toate marcile de vehicule.
                            </p>
                            <p>
                                Caracteristici ale Tahografului digital EFAS-4:
                            </p>
                            <ul>
                                <li>
                                    Ușor de utilizat
                                </li>
                                <li>
                                    Imprimare rapidă, manipularea cardului foarte ușor și acces ușor la mufa de descărcare date;
                                </li>
                                <li>
                                    Operare ușoară, imprimanta-cartuș disponibila ca piesă de schimb.
                                </li>
                                <li>
                                    Conform cu legile recente
                                </li>
                                <li>
                                    Regulamentul Consiliului (CE) nr 1266/2009
                                </li>
                                <li>
                                    12V / 24V (potrivit pentru vehicule cu alimentare de 12V sau 24V)
                                </li>
                                <li>
                                    Multilateral (compatibil cu mai multe tipuri de vehicule: Scania, Renault,V olvo, Daf, Mitchubishi, etc.)
                                </li>
                                <li>
                                    Cel mai scurt timp de descarcare al datelor din tahograf
                                </li>
                                <li>
                                    Necesita doar updatarea firmware-ului pentru a actualiza caracteristici și funcții
                                </li>
                                <li>
                                    Folosirea softului “EFAS Service Tool” pentru configurarea parametrilor mai usor si pentru activarea celei de-a doua sursa de semnal (daca este necesar)
                                </li>
                                <li>
                                    Împerecherea senzorului de mișcare prin intermediul meniului EFAS Limba implicită a ecranului: engleză + alte 26 limbi (inclusive limbra romana)
                                </li>
                                <li>
                                    Schimbarea limbii simplificată (apăsați tasta ESC "|<<" mai mult de 5 secunde) EFAS-4 este in conformitate cu legile in vigoare:
                                </li>
                                <li>
                                    Regula de 1 minut
                                </li>
                            </ul>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>