<div class="modal fade right" id="egk-100-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="EGK100ProductModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">
                            Tahograf EGK 100
                        </p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5 product-modal-image">
                        <img src="~/Content/img/products/tahographs/TEGK.jpg"
                             class="img-fluid">
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                Tahograful <strong>EGK 100</strong> este Este un instrument de mare fiabilitate.
                            </p>
                            <p>
                                Toate indicatoarele de bord incorporate sunt inlocuite cu LED, astfel nu va mai fi necesara schimbarea becurilor.
                            </p>
                            <p>
                                Vitezometrul Volvo emite sunete de avertizare si informatice ca si tahograful EGK 100. In locul ceasului mecanic si a contoarelor de kilometraj mecanice, vitezometrul Volvo este dotat cu un afisaj LCD de 2×12 caractere alfanumerice pe care se afiseaza cu usurinta indexul kilometric, distanta zilnica TRIP si ora citita din tahograf.
                            </p>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>