<div class="modal fade right" id="siemens-vdo-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="SiemensVDOProductModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">Tahograf Digital Siemens VDO DTCO</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/6ivuS0cZtd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                Noul Tahograf <strong>Siemens DTCO® 2.0</strong>, mai eficient, sigur si de incredere ofera noi functii care duc in final la un management mai eficient al flotei de autovehicule.
                            </p>
                            <ul>
                                <li>
                                    Regula la 1 minut
                                </li>
                                <li>
                                    Transferul datelor
                                </li>
                                <li>
                                    Pregatit pentru ITS
                                </li>
                            </ul>
                            <p>
                                Un ajutor intelligent pe durata zilei de munca: Noul DTCO 2.0 usureaza viata operatorilor de flota si a soferilor. In plus fata de functiile necesare, VDO a introdus inovatii extinse, care va ajuta in optimizarea costurilor, a rutelor si folosirea eficienta a timpilor de munca.
                            </p>
                            <div>
                                <p>
                                    <strong>
                                        Vizualizare mai eficienta: Contorul VDO
                                    </strong>
                                </p>
                                <p>
                                    Contorul VDO integrat, ofera soferului, la cerere, o privire rapida asupra timpilor actuali de conducere si odihna. Astfel este ajutat in planificarea zilnica a rutelor si a timpilor de conducere si odihna.
                                </p>
                            </div>
                            <div>
                                <p>
                                    <strong>
                                        Un timp de conducere mai bun: Regula de 1 minut
                                    </strong>
                                </p>
                                <p>
                                    Facilitatea utilizarii benefica a Regulii de 1 Minut. Salvati minute pretioase in operatiuni de distributie, in blocaje rutiere sau schimburi in parcari, si timpi extinsi de conducere.
                                </p>
                            </div>
                            <div>
                                <p>
                                    <strong>
                                        Confort marit: Descarcare la distanta
                                    </strong>
                                </p>
                                <p>
                                    Descarcarea legala a cardului de sofer si a datelor din memoria de masa vor fi efectuate automat prin GPRS sau WLAN, fara introducerea cardului de companie in tahograf, prin intermediul echipamentelor aditionale de descarcare.
                                </p>
                            </div>
                            <div>
                                <p>
                                    <strong>
                                        Viitor dezvoltat: ITS pregatit
                                    </strong>
                                </p>
                                <p>
                                    Sistem Intelligent de Transport (ITS) asigura mobilitatea viitoare pentru vehiculele noastre. Echipamentele ITS interconecteaza soferii, flotele si alte obiecte de trafic, de siguranta si de transport de bunuri si oameni. DTCO 2.0 are deja incorporate functionalitatea ITS si de aceea este echipamentul perfect pentru managementul flotelor pe viitor.
                                </p>
                            </div>
                            <div>
                                <p>
                                    <strong>
                                        Protectie Sporita: Interventii neacreditate
                                    </strong>
                                </p>
                                <p>
                                    DTCO 2.0 utilizeaza pe langa semnalul de viteza un semnal secundar independent de miscare (IMS). Pe langa faptul ca recunoaste si corecteaza prin noul sensor de miscare (KITAS II+) interferentele externe, el protejeaza interfata dintre vehicul si emitatorul de semnale impotriva manipularilor.
                                </p>
                            </div>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>