<div class="modal fade right" id="siemens-1324-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="Siemens1324ProductModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">
                            Tahograf Siemens 1324
                        </p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5 product-modal-image">
                        <img src="~/Content/img/products/tahographs/TS2.jpg"
                             class="img-fluid">
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                Tahograful <strong>Siemens 1324</strong> inregistreaza automat viteza, distantele parcurse, timpii de odihna si de lucru pe diagrama.
                            </p>
                            <p>
                                Are in dotare afisaj LCD ce poate indica urmatoarele informatii: data si ora, simbol grupa de timp sofer 1 si 2, simbol eroare.
                            </p>
                            <p>
                                Acest tahograf modular are un sistem de supraveghere electronica a tensiunii de alimentare si a semnalelor de intrare. Eventualele defectiuni se inregistreaza pe diagrama tahografului Siemens VDO 1324.
                            </p>
                            <p>
                                Tahograful electronic Siemens 1324 are afisajul LCD cu iluminare speciala – verzuie sau portocalie.
                            </p>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>