<div class="modal fade right" id="stoneridge-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="StoneridgeProductModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">
                            Tahograf Digital Stoneridge SE-5000
                        </p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/-myOfU2ZmMM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                Tahograful digital <strong>Stoneridge SE5000</strong> este considerat cel mai fiabil tahograf digital de pe piata, pentru simplul fapt ca nu este necesara inlocuirea bateriei pentru backup memorie la fiecare 2 ani de folosinta. In acelasi timp, versiunile noi de tahografe digitale SE5000 afiseaza soferilor in timp real pauzele (odihna) pe care trebuie sa le respecte, pentru a nu incalca pevederile Regulamentului EU 561/2006 privind timpii de conducere al conducatorilor auto, tahograful digital SE500 Exakt Duo formand un DUO perfect cu soferul.
                            </p>
                            <p><strong>Caracteristicile principale ale tahografului digital Stoneridge SE5000:</strong></p>
                            <ul>
                                <li>
                                    Tensiune de alimentare tahograf digital: 12V / 24V
                                </li>
                                <li>
                                    Varianta soft al tahografului digital: 7.4
                                </li>
                                <li>
                                    Este compatibil cu toate marcile de vehicule.
                                </li>
                                <li>
                                    Aceste tahografe digitale de generatia a III-a respecta prevederile regulamentului 1266/2009
                                </li>
                                <li>
                                    Garantie tahograf digital – 2 ani de la activare dar nu mai mult de 3 ani de la productie
                                </li>
                            </ul>
                            <p>
                                Tahograful digital Stoneridge SE5000 Exakt DUO, varianta 7.4 poate inlocui orice unitate auto digitala deteriorata fara a fi nevoie sa se activeze sursa secundara de semnal de viteza. In cazul in care in cadrul montajului este necesar a se schimba si impulsorul, este obligatoriu conform reglementarilor in vigoare sa sa activeze semnalul secundar de viteza.
                            </p>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>