
@{
    ViewBag.Title = "Echipa Noastra";
}



<div class="container">
    <p style="margin-bottom:30px; font-size:25px; margin-top:50px;">Echipa Noastra</p>
    <div>
        Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator, ca Aldus PageMaker care includeau versiuni de Lorem Ipsum.
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Content/img/UserTeam3.jpg" alt="">

                </div>
                <div class="team-content">
                    <h3 class="title">Gianfranco Albert</h3>
                    <small class="post">Director General</small>
                    <small><i class="fa fa-google-plus-square"></i> Email: <b>mail@example.com</b></small>
                    <small><i class="fa fa-phone-square"></i> Telefon: <b> +40 212000327</b></small>

                </div>
                <div class="team-layer">
                    <a href="#">Gianfranco Albert</a>
                    <span class="post">Director General</span>
                    <p><button class="buttonTeam">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Content/img/UserTeam3.jpg" alt="">

                </div>
                <div class="team-content">
                    <h3 class="title">Gianfranco Albert</h3>
                    <small class="post">Director General</small>
                    <small><i class="fa fa-google-plus-square"></i> Email: <b>mail@example.com</b></small>
                    <small><i class="fa fa-phone-square"></i> Telefon: <b> +40 212000327</b></small>

                </div>
                <div class="team-layer">
                    <a href="#">Gianfranco Albert</a>
                    <span class="post">Director General</span>
                    <p><button class="buttonTeam">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Content/img/UserTeam3.jpg" alt="">

                </div>
                <div class="team-content">
                    <h3 class="title">Gianfranco Albert</h3>
                    <small class="post">Director General</small>
                    <small><i class="fa fa-google-plus-square"></i> Email: <b>mail@example.com</b></small>
                    <small><i class="fa fa-phone-square"></i> Telefon: <b> +40 212000327</b></small>

                </div>
                <div class="team-layer">
                    <a href="#">Gianfranco Albert</a>
                    <span class="post">Director General</span>
                    <p><button class="buttonTeam">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Content/img/UserTeam3.jpg" alt="">

                </div>
                <div class="team-content">
                    <h3 class="title">Gianfranco Albert</h3>
                    <small class="post">Director General</small>
                    <small><i class="fa fa-google-plus-square"></i> Email: <b>mail@example.com</b></small>
                    <small><i class="fa fa-phone-square"></i> Telefon: <b> +40 212000327</b></small>

                </div>
                <div class="team-layer">
                    <a href="#">Gianfranco Albert</a>
                    <span class="post">Director General</span>
                    <p><button class="buttonTeam">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

