
    <div class="form-sec">
        <h4>Contactati-ne</h4>
        <form name="qryform" id="qryform" onsubmit="submitData();">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" id="name" placeholder="Nume*" name="name" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="email" class="form-control" id="email" placeholder="Email*" name="email" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-phone"></span>
                </span>
                    <input type="text" class="form-control" id="phone" placeholder="Numar telefon*" name="phone" required>
            </div>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-comment"></i>
                </div>
                <input type="text" class="form-control" id="subject" placeholder="Subiect*" name="subject" required>
            </div>
            <div >
                <textarea name="issues" class="form-control" id="message" placeholder="Mesaj"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Programeaza <span class="glyphicon glyphicon-send"></span></button>
           
        </form>
    </div>


<script type="text/javascript">
    $("#qryform").on('submit', function (e)
    {
        return false;
    });
    function submitData() {
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: "/ContactForm/SendEmail",
            data: getData(),
            success: function (res) {
                if (res.successful) {
                    alert("Un email a fost trimis pentru programare! Veti fi contactat in cel mai scurt timp de un membru al echipei pentru confirmare.");
                    clearFields();
                } else {
                    alert("Email-ul nu a fost trimis, va rugam sa reincercati!");
                }
            }
        });
    }

    function getData()
    {
        var data = {
            FromEmailAddress: $("#email").val(),
            Name: $("#name").val(),
            PhoneNumber: $("#phone").val(),
            Subject: $("#subject").val(),
            Message: $("#message").val()
        };
        return data;
    }

    function clearFields() {
        $("#email").val("");
        $("#name").val("");
        $("#phone").val("");
        $("#subject").val("");
        $("#message").val("");
    }
</script>