<div style="padding:5%">
    <br>
    <b><font size="4">Site-ul reparatiisitransport.ro utilizeaza cookie-uri.</font></b><br>
    <br>
    Informatiile prezentate in continuare au scopul de a aduce la cunostinta utilizatorului mai multe detalii despre plasarea, utilizarea si administrarea "cookie"-urilor utilizate de site-ul reparatiisitransport.ro sau alte site-uri din reteaua Forumnet. De asemenea, sunt prezente si cateva linkuri utile legate de acest subiect.<br>
    <br>
    In cazul in care aveti nevoie de mai multe informatii si ele nu se regasesc mai jos, ne puteti contacta la office@reparatiisitransport.ro.<br>
    <br>
    <b>Va rugam sa cititi cu atentie informatiile care urmeaza:</b><br>
    <br>
    Acest website foloseste cookie-uri proprii si de la terti pentru a furniza vizitatorilor o experienta mult mai buna de navigare si servicii adaptate nevoilor si interesului fiecaruia.<br>
    In ceea ce numim "<b>web 2.0</b>", "<b>cookie</b>"-urile joaca un rol important in facilitarea accesului si livrarii multiplelor servicii de care utilizatorul se bucura pe internet, cum ar fi:<ul>
        <li>Personalizarea anumitor setari precum: limba in care este vizualizat un site, moneda in care se exprima anumite preturi sau tarife, pastrarea optiunilor pentru diverse produse (masuri, alte detalii etc) in cosul de cumparaturi (si memorarea acestor optiuni) - generandu-se astfel flexibilitatea "cosului de cumparaturi" (accesarea preferintelor vechi prin accesarea butonului "inainte" si "inapoi")</li>
        <li>Cookie-urile ofera detinatorilor de site-uri un feedback valoros asupra modului cum sunt  utilizate site-urile lor de catre utilizatori, astfel incat sa le poata face si mai eficiente si mai accesibile pentru utilizatori.</li>
        <li>Permit aplicatiilor multimedia sau de alt tip de pe alte site-uri sa fie incluse intr-un anumit site pentru a crea o experienta de navigare mai valoroasa, mai utila si mai placuta;</li>
        <li>Imbunatatesc eficienta publicitatii online.</li>
    </ul><br>
    <b>Ce este un "cookie"?</b><br>
    <br>
    Un "Internet Cookie" (termen cunoscut si ca "browser cookie" sau "HTTP cookie" sau pur si simplu"cookie") este un fisier de mici dimensiuni, format din litere si numere, care va fi stocat pe computerul, terminalul mobil sau alte echipamente ale unui utilizator de pe care se acceseaza Internetul.<br>
    Cookie-ul este instalat prin solicitara emisa de catre un web-server unui browser (ex: Internet Explorer, Chrome, Firefox, Safari) si este complet "pasiv" (nu contine programe software, virusi sau spyware si nu poate accesa informatiile de pe hard driveul utilizatorului).<br>
    Un cookie este format din 2 parti: numele si continutul sau valoarea cookie-ului. Mai mult, durata de existenta a unui cookie este determinata tehnic, doar webserverul care a trimis cookie-ul il poate accesa din nou in momentul in care un utilizator se intoarce pe website-ul asociat webserverului respectiv.<br>
    Cookie-urile in sine nu solicita informatii cu caracter personal pentru a putea fi utilizate si, in cele maimulte cazuri, nu identifica personal utilizatorii de internet.<br>
    <br>
    <b>Exista 2 categorii mari de cookie-uri:</b><ul>
        <li>Cookieuri de sesiune - acestea sunt stocate temporar in dosarul de cookie-uri al browserului web pentru ca acesta sa le memoreze pana cand utilizatorul iese de pe web-siteul respectiv sau inchide fereastra browserului (ex: in momentul logarii/delogarii pe un cont de webmail sau pe retele de socializare).</li>
        <li>Cookieuri Persistente - acestea sunt stocate pe hard-drive-ul unui computer sau echipament (si in general depinde de durata de viata prestabilita pentru cookie). Cookie-urile persistente le includ si pe cele plasate de un alt website decat cel pe care il viziteaza utilizatorul la momentul respectiv - cunoscute sub numele de "third party cookies" (cookieuri plasate de terti) - care pot fi folosite in mod anonim pentru a memora interesele unui utilizator, astfel incat sa fie livrata publicitate cat mai relevanta pentru utilizatori.</li>
    </ul><b>Care sunt avantajele cookie-urilor?</b><br>
    Un cookie contine informatii care fac legatura intre un web-browser (utilizatorul) si un web-server anume (website-ul). Daca un browser acceseaza acel web-server din nou, acesta poate citi informatia deja stocata si reactiona in consecinta. Cookie-urile asigura userilor o experienta placuta de navigare si sustin eforturile multor websiteuri pentru a oferi servicii confortabile utilizatorillor: ex - preferintele in materie de confidentialitate online, optiunile privind limba site-ului, cosuri de cumparaturi sau publicitate relevanta.<br>
    <br>
    <b>Care este durata de viata a unui cookie?</b><br>
    Cookieurile sunt administrate de webservere. Durata de viata a unui cookie poate varia semnificativ, depinzand de scopul pentru care este plasat. Unele cookie-uri sunt folosite exclusiv pentru o singura sesiune (session cookies) si nu mai sunt retinute odata de utilizatorul a parasite website-ul si unele cookie-uri sunt retinute si refolosite de fiecare data cand utilizatorul revine pe acel website ('cookie-uri permanente'). Cu toate aceste, cookie-urile pot fi sterse de un utilizator in orice moment prin intermediul setarilor browserului.<br>
    <br>
    <b>Ce sunt cookie-urile plasate de terti?</b><br>
    Anumite sectiuni de continut de pe unele site-uri pot fi furnizate prin intermediul unor terte parti/furnizori (ex: news box, un video sau o reclama). Aceste terte parti pot plasa de asemenea cookieuri prin intermediul site-ului si ele se numesc "third party cookies" pentru ca nu sunt plasate de proprietarul website-ului respectiv. Furnizorii terti trebuie sa respecte de asemenea legea in vigoare si politicile de confidentialitate ale detinatorului site-ului.<br>
    <br>
    <b>Cum sunt folosite cookie-urile de catre acest site</b><br>
    <br>
    O vizita pe acest site poate plasa cookie-uri in scopuri de:<ul>
        <li>Cookie-uri de performanta a site-ului</li>
        <li>Cookie-uri de analiza a vizitatorilor</li>
        <li>Cookie-uri pentru geotargetting</li>
        <li>Cookie-uri de inregistrare</li>
        <li>Cookie-uri pentru publicitate</li>
        <li>Cookie-uri ale furnizorilor de publicitate</li>
    </ul>Aceste cookie-uri pot proveni de la urmatorii terti: google.com, skimlinks.com, emag.ro, doubleclick.com, si altii.<br>
    <br>
    <b>Cookie-uri de performanta</b><br>
    Acest tip de cookie retine preferintele utilizatorului pe acest site, asa incat nu mai este nevoie de setarea lor la fiecare vizitare a site-ului.<br>
    <br>
    Exemple:<ul>
        <li>setarile volumului pentru video player</li>
        <li>viteza de video streaming cu care este compatibil browserul</li>
        <li>limba in care este afisat site-ul</li>
    </ul><br>
    <b>Alte cookie-uri ale tertelor parti</b><br>
    Pe unele pagini, tertii pot seta propriile cookie-uri anonime, in scopul de a urmari succesul unei aplicatii sau pentru a customiza o aplicatie. Datorita modului de utilizare, acest site nu poate accesa aceste cookie-uri, la fel cum tertele parti nu pot accesa cookie-urile detinute de acest site.<br>
    De exemplu, cand distribuiti un articol folosind butonul pentru retelele sociale aflat pe acest site, acea retea sociala va inregistra activitatea dvs.<br>
    <br>
    <b>Ce tip de informatii sunt stocate si accesate prin intermediul cookie-urilor?</b><br>
    Cookie-urile pastreaza informatii intr-un fisier text de mici dimensiuni care permit unui website sa recunoasca un browser. Webserverul va recunoaste browserul pana cand cookie-ul expira sau este sters.<br>
    Cookie-ul stocheaza informatii importante care imbunatatesc experienta de navigare pe Internet ( ex: setarile limbii in care se doreste accesarea unui site; pastrarea unui user logat in contul de webmail; securitatea online banking; pastrarea produselor in cosul de cumparaturi)<br>
    <br>
    <b>De ce sunt cookie-urile importante pentru Internet?</b><br>
    Cookie-urile reprezinta punctul central al functionarii eficiente a Internetului, ajutand la generarea unei experiente de navigare prietenoase si adaptata preferintelor si intereselor fiecarui utilizator. Refuzarea sau dezactivarea cookieurilor poate face unele site-uri imposibil de folosit.<br>
    Refuzarea sau dezactivarea cookie-urilor nu inseamna ca nu veti mai primi publicitate online - ci doar ca aceasta nu va mai putea tine cont de preferintele si interesele dvs, evidentiate prin comportamentul de navigare.<br>
    Exemple de intrebuintari importante ale cookieurilor (care nu necesita autentificarea unui utilizator prin intermediul unui cont):<br>
    <ul>
        <li>Continut si servicii adaptate preferintelor utilizatorului - categorii de stiri, vreme, sport, harti, servicii publice si guvernamentale, site-uri de entertainment si servicii de travel.</li>
        <li>Oferte adaptate pe interesele utilizatorilor - retinerea parolelor, preferintele de limba ( Ex: afisarea rezultatelor cautarilor in limba Romana).</li>
        <li>Retinerea filtrelor de protectie a copiilor privind continutul pe Internet (optiuni family mode, functii de safe search).</li>
        <li>Limitarea frecventei de difuzare a reclamelor - limitarea numarului de afisari a unei reclame pentru un anumit utilizator pe un site.</li>
        <li>Furnizarea de publicitate mai relevanta pentru utilizator.</li>
        <li>Masurarea, optimizare si caracteristicile de analytics - cum ar fi confirmarea unui anumit nivel de trafic pe un website, ce tip de continut este vizualizat si modul cum un utilizator ajunge pe un website (ex prin motoare de cautare, direct, din alte website-uri etc). Website-urile deruleaza aceste analize a utilizarii lor pentru a imbunatati site-urile in beneficiul userilor.</li>
    </ul><b>Securitate si probleme legate de confidentialitate</b><br>
    Cookieurile NU sunt virusi! Ele folosesc formate tip plain text. Nu sunt alcatuite din bucati de cod asa ca nu pot fi executate nici nu pot auto-rula. In consecinta, nu se pot duplica sau replica pe alte retele pentru a se rula sau replica din nou. Deoarece nu pot indeplini aceste functii, nu pot fi considerate virusi.<br>
    Cookie-urile pot fi totusi folosite pentru scopuri negative. Deoarece stocheaza informatii despre preferintele si istoricul de navigare al utilizatorilor, atat pe un anume site cat si pe mai multe alte siteuri, cookieurile pot fi folosite ca o forma de Spyware. Multe produse anti-spyware sunt constiente de acest fapt si in mod constant marcheaza cookie-urile pentru a fi sterse in cadrul procedurilor de stergere/scanare anti-virus/anti-spyware.<br>
    In general browserele au integrate setari de confidentialitate care furnizeaza diferite nivele de acceptare a cookieurilor, perioada de valabilitate si stergere automata dupa ce utilizatorul a vizitat un anumit site.<br>
    <br>
    <b>Alte aspecte de securitate legate de cookie-uri:</b><br>
    Deoarece protectia identitatii este foarte valoroasa si reprezinta dreptul fiecarui utilizator de internet, este indicat sa se stie ce eventuale probleme pot crea cookieurile. Pentru ca prin intermediul lor se transmit in mod constant in ambele sensuri informatii intre browser si website, daca un atacator sau persoana neautorizata intervine in parcursul de transmitere a datelor, informatiile continute de cookie pot fi interceptate.<br>
    Desi foarte rar, acest lucru se poate intampla daca browserul se conecteaza la server folosind o retea necriptata (ex: o retea WiFi nesecurizata).<br>
    Alte atacuri bazate pe cookie implica setari gresite ale cookieurilor pe servere. Daca un website nu solicita browserului sa foloseasca doar canale criptate, atacatorii pot folosi aceasta vulnerabilitate pentru a pacali browserele in a trimite informatii prin intermediul canalelor nesecurizate. Atacatorii utilizeaza apoi informatiile in scopuri de a accesa neautorizat anumite site-uri. Este foarte important sa fiti atenti in alegerea metodei celei mai potrivite de protectie a informatiilor personale.<br>
    <br>
    <b>Sfaturi pentru o navigare sigura si responsabila, bazata pe cookies.</b><br>
    Datorita flexibilitatii lor si a faptului ca majoritatea dintre cele mai vizitate site-uri si cele mai mari folosesc cookieuri, acestea sunt aproape inevitabile. Dezactivarea cookie-urilor nu va permite accesul utilizatorului pe site-urile cele mai raspandite si utilizate printre care Youtube, Gmail, Yahoo si altele.<br>
    Iata cateva sfaturi care va pot asigura ca navigati fara griji insa cu ajutorul cookieurilor:<ul>
        <li>Particularizati-va setarile browserului in ceea ce priveste cookie-urile pentru a reflecta un nivel confortabil pentru voi al securitatii utilizarii cookie-urilor.</li>
        <li>Daca nu va deranjeaza cookie-urile si sunteti singura persoana care utilizaeaza computerul, puteti seta termene lungi de expirare pentru stocarea istoricului de navigare si al datelor personale de acces.</li>
        <li>Daca impartiti accesul la calculator, puteti lua in considerare setarea browserului pentru a sterge datele individuale de navigare de fiecare data cand inchideti browserul. Aceasta este o varianta de a accesa site-urile care plaseaza cookieuri si de a sterge orice informatie de vizitare la inchiderea sesiunii navigare.</li>
        <li>Instalati-va si updatati-va constant aplicatii antispyware.</li>
    </ul>Multe dintre aplicatiile de detectare si prevenire a spyware-ului includ detectarea atacurilor pe site-uri. Astfel, impiedica browserul de la a accesa website-uri care ar putea sa exploateze vulnerabilitatile browserului sau sa descarce software periculos.<br>
    Asigurati-va ca aveti browserul mereu updatat.<br>
    Multe dintre atacurile bazate pe cookies se realizeaza exploatand punctele slabe ale versiunilor vechi ale browserelor.<br>
    Cookie-urile sunt pretutindeni si nu pot fi evitate daca doriti sa va bucurati de acces pe cele mai bune si cele mai mari site-uri de pe Internet - locale sau internationale. Cu o intelegere clara a modului lor de operare si a beneficiilor pe care le aduc, puteti lua masurile necesare de securitate astel incat sa puteti naviga cu incredere pe internet.<br>
    <br>
    <b>Cum pot opri cookie-urile?</b><br>
    Dezactivarea si refuzul de a primi cookie-uri pot face anumite site-uri impracticabile sau dificil de vizitat si folosit. De asemenea, refuzul de a accepta cookie-uri nu inseamna ca nu veti mai primi/vedea publicitate online.<br>
    Este posibila setarea din browser pentru ca aceste cookie-uri sa nu mai fie acceptate sau poti seta browserul sa accepte cookie-uri de la un site anume. Dar, de exemplu, daca nu esti inregistat folosind cookie-urile, nu vei putea lasa comentarii.<br>
    Toate browserele moderne ofera posibilitatea de a schimba setarile cookie-urilor. Aceste setari se gasesc de regula in "optiuni" sau in meniul de "preferinte" al browserului tau.<br>
    Pentru a intelege aceste setari, urmatoarele linkuri pot fi folositoare, altfel puteti folosi optiunea "ajutor" a browserului pentru mai multe detalii.<br>
    <br>
    <a rel="nofollow" href="http://support.microsoft.com/kb/196955" target="_blank">Cookie settings in Internet Explorer</a><br>
    <a rel="nofollow" href="http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies" target="_blank">Cookie settings in Firefox</a><br>
    <a rel="nofollow" href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647" target="_blank">Cookie settings in Chrome</a><br>
    <a rel="nofollow" href="http://support.apple.com/kb/PH5042" target="_blank">Cookie settings in Safari</a><br>
    <br>
    Pentru setarile cookie-urilor generate de terti, puteti consulta si site-ul:<br>
    <a rel="nofollow" href="http://www.youronlinechoices.com/ro/" target="_blank">http://www.youronlinechoices.com/ro</a><br>
    <br>
    <b>Linkuri utile</b><br>
    <br>
    Daca doriti sa afli mai multe infromatii despre cookie-uri si la ce sunt utilizate, recomandam urmatoarele linkuri:<br>
    <a rel="nofollow" href="http://www.microsoft.com/info/cookies.mspx" target="_blank">Microsoft Cookies guide</a><br>
    <a rel="nofollow" href="http://www.allaboutcookies.org/" target="_blank">All About Cookies</a><br>
    <br>
    IAB Romania pune la dispozitie urmatorul site pentru a oferi mai multe informatii privind confidentialitatea legata de publicitatea online: <a rel="nofollow" href="http://www.youronlinechoices.com/ro/" target="_blank">http://www.youronlinechoices.com/ro</a><br>
    <br>
    Pentru mai multe detalii legate de probleme de confidentialitate, puteti accesa si urmatoarele linkuri:<ul>
        <li><a rel="nofollow" href="http://www.dreptonline.ro/legislatie/oug_13_2012_modificare_prelucrare_date_caracter_personal_protectia_vietii_private_comunicatii_electronice.php" target="_blank">http://www.dreptonline.ro/legislatie...lectronice.php</a></li>
        <li><a rel="nofollow" href="http://www.youronlinechoices.eu/ro" target="_blank">www.youronlinechoices.eu/ro</a></li>
        <li><a rel="nofollow" href="http://www.iabeurope.eu/cookies-faq/internet-cookies---increasing-and-enhancing-yourinternet-surfing-experience/what-are-cookies-how-do-they-work---cookies-faq.aspx" target="_blank">http://www.iabeurope.eu/cookies-faq/...okies-faq.aspx</a></li>
        <li><a rel="nofollow" href="http://www.guardian.co.uk/info/cookies" target="_blank">http://www.guardian.co.uk/info/cookies</a></li>
    </ul>
</div>