
@{
    ViewBag.Title = "Incalzitoare Webastro & Eberspacher";
}

    <div class="container">
        <p class="header-title">Servicii de incalzire WEBASTO</p>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="container-webastro">
                    <img src="~/Content/img/webasto-back.jpg" alt="" style="width:100%;">
                    <div class="text-webastro">
                        <h1>Service <span style="font-weight:900;">WEBASTO<span></h1>
                        <p>Webasto este solutia optima pentru incalzirea rapida a masinilor, tirurilor, camioanele sau autoutilitarelor pe timp de iarna.</p>
                        <p>Asiguram service complet si personalizat clientilor nostri pentru incalzitoarele Webasto, detinem piese originale pe stoc pentru reparatii rapide.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p style="text-align:center; font-size:17px">
                    Cu incalzitoarele Webasto beneficiezi de tot confortul necesar unei calatorii si de caldura optima pe parcursul intregii zile.
                </p>
                <p style="text-align:center; font-size:17px; padding-bottom: 10px;">
                    Utilizand tehnologia <span style="font-weight:bold;">WEBASTO Engine-Off</span> (cu motorul oprit) temperatura in interiorul masinii sau a cabinei ramane optima chiar si cand
                    motorul este oprit.
                </p>
                <iframe width="550" height="265"
                        src="https://www.youtube.com/embed/uA9QJQm8piU">
                </iframe>
            </div>
        </div>
        <br />

        <div class="row">
            <h2>Cum functioneaza incalzirea <span style="font-weight:bold;">WEBASTO</span> cu motorul oprit:</h2>
            <p style="font-size:17px; text-align:justify">
                Sistemul de incalzire Webasto se activeaza automat cand motorul autoturismului (a camionului, a tirului sau a autoutilitarei) se opreste.
                Avantajul sistemului este unul prielnic si pentru motor. Avand in vedere faptul ca temperatura ramane constanta pentru interior cat si pentru motor,
                repornirea acestuia la temperaturi sub 0 grade este mai rapida si mai eficienta. Incalzirea motorului la relanti inseaman consum de carburant.
                Utilizand un incalzitor Webasto reduceti semnificativ consumul de carburant necesar in perioada de incalzire a motorului.
            </p>
            <div class="col-sm-3">
                <img style="padding-left:7.5%" src="~/Content/img/m1.png" />
                <h4 style="text-align:center; font-weight:bold">1. Motorul este pornit:</h4>
                <p style="text-align:center">Motorul produce caldura care este distribuita in cabina sau in habitaclu prin sistemul de ventilatie.</p>
            </div>
            <div class="col-sm-3">
                <img style="padding-left:7.5%" src="~/Content/img/m2.png" />
                <h4 style="text-align:center; font-weight:bold">2. Motorul este oprit:</h4>
                <p style="text-align:center">
                    In momentul in care motorul este oprit, distributia de aer cald in interiorul cabinei se intrerupe.
                    Energia termica a motorului este irosita, iar temperatura din interiorul cabinei scade rapid.
                </p>
            </div>
            <div class="col-sm-3">
                <img style="padding-left:7.5%" src="~/Content/img/m3.png" />
                <h4 style="text-align:center; font-weight:bold">3. Motorul este oprit - utilizarea caldurii reziduale:</h4>
                <p style="text-align:center">
                    Incalzitorul continua sa utilizeze caldura reziduala a motorului, astfel incat prin sistemul Webasto se asigura transferul
                    de caldura in interiorul cabinei, temperatura ramanand constanta.
                </p>
            </div>
            <div class="col-sm-3">
                <img style="padding-left:7.5%" src="~/Content/img/m4.png" />
                <h4 style="text-align:center; font-weight:bold">4. Motorul oprit - cu incalzitor stationar:</h4>
                <p style="text-align:center">
                    Atunci cand motorul incepe sa se raceasca, incalzitorul stationar porneste in mod automat.
                    Astfel, temperatura motorului si cea din cabina raman constante.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <h2>Oferta noastra de incalzitoare auto <span style="font-weight:bold">WEBASTO</span>. Oferim montaj si service autorizat</h2>
            <div class="col-sm-3">
                <div class="hvrbox">
                    <img src="~/Content/img/img-prod.jpg" alt="" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                    </div>
                    <p style="font-size: 17px; text-align:center;">Demo Product</p>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
        </div><br />
        <p class="header-title">Servicii de incalzire Eberspacher</p>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <p style="text-align:center; font-size:17px">
                    Un sistem de incalzire auxiliara a vehiculului indiferent de tipul acestuia se poate dovedi a fi foarte util in sezonul rece, atat pentru pasageri cat si pentru autovehicul.
                </p>
                <p style="text-align:center; font-size:17px; padding-bottom: 10px;">
                    Utilizand tehnologia <span style="font-weight:bold;">Eberspacher </span> motorul va porni usor indiferent de temperatura iar bateria nu va fi afectata.
                </p>
                <iframe width="550" height="265"
                        src="https://www.youtube.com/embed/5hsylKn8240">
                </iframe>
            </div>
            <div class="col-sm-6">
                <div class="container-webastro">
                    <img src="~/Content/img/eber-back.jpg" alt="" style="width:100%;">
                    <div class="text-webastro">
                        <h1>Service <span style="font-weight:900;">Eberspacher<span></h1>
                        <p>
                            Sistemul de incalzire Eberspacher reprezinta solutia fiabila pentru incalzirea habitaclului dar si pentru a oferi motorului conditiile perfecte
                            pentru o pornire cu un grad de uzura minim.
                        </p>
                        <p>Asiguram service complet si personalizat clientilor nostri pentru incalzitoarele Eberspacher, detinem piese originale pe stoc pentru reparatii rapide.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Cum functioneaza sistemul de incalzire auxiliara <span style="font-weight:bold; text-transform:uppercase;">Eberspacher</span></h2>
            <p style="font-size:17px;">
                Cu ajutorul unui sistem de incalzire Eberspacher vei putea incalzi habitaclul masinii si totodata sa oferi motorului o temperatura optima pentru a porni usor,
                fara dificultati, chiar daca este un motor diesel. Astfel, nu numai ca motorul va porni foarte usor, dar totodata va fi pregatit si de plecare, fara a mai fi nevoie de un timp
                de asteptare pentru incalzirea motorului. Se fac economii pentru consumul de carburant al motorului si totodata se reduce semnificativ si gradul de uzura al motorului.
            </p>
            <div class="col-sm-6">
                <img style="max-width:100%; height:auto; padding-bottom:7px" src="~/Content/img/incalzitor-apa.jpg" />
                <h3>Modul de functionare Hydronic</h3>
                <p>
                    Incalzitoarele Eberspacher pe baza de apa au o functionare independenta de motor si ofera incalzire atat pentru motor cat si pentru habitaclu.
                    Acestea se leaga la circuitul de racire al motorului, care urmeaza a fi incalzit cu ajutorul caldurii reziduale obtinute din apa de racire.
                </p>
            </div>
            <div class="col-sm-6">
                <img style="max-width:100%; height:auto;" src="~/Content/img/airtronic-rob.jpg" />
                <h3>Modul de functionare Airtronic</h3>
                <p>
                    Un incalzitor Eberspacher de tip Airtronic are o functionare complet independenta de motor precum si de sistemul de reglare a temperaturii al masinii.
                    Acesta preia aerul din exterior, il incalzeste iar mai apoi este transmis in interior.
                </p>
            </div>
        </div>
        <h2>Oferta noastra de incalzitoare auto <span style="font-weight:bold; text-transform:uppercase;">Eberspacher</span>. Oferim montaj si service autorizat cu piese originale</h2>
        <div class="col-sm-3">
            <div class="hvrbox">
                <img src="~/Content/img/img-prod.jpg" alt="" class="hvrbox-layer_bottom">
                <div class="hvrbox-layer_top">
                    <div class="hvrbox-text"><button type="button" class="btn btn-default">Vezi detalii</button></div>
                </div>
                <p style="font-size: 17px; text-align:center;">Demo Product</p>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

