
@{
    ViewBag.Title = "Transport";
}

<div class="container">
    <p class="header-title">Transport intern si international</p>
    <hr />
    <div>
        <p>
            Marfurile generale sunt categoria de marfuri care nu este clasificata pentru conditii speciale de transport – si nu este supusa unor
            reglementari speciale privind transportul de marfa. Marfurile generale pot fi transportate in mijloace standard de transport – camioane
            cu semiremorca (cu prelata sau dube carosate), autocamioane, camioane cu remorca, camionete, microbuze, etc.
            Transporturile se efectueaza in regim de camion exclusiv – complet (FTL) sau in regim de grupaj (LTL).
        </p>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Content/img/ftl-image.jpg" width="100%" />
            <p style="text-align:center; padding-top:10px;">
                Firma noastra va pune la dispozitie camioane exclusive de marfa, de diverse capacitati si carosari, atat pentru
                marfuri generale cat si pentru marfuri speciale, cum ar fi: marfurile ADR, frigorifice, substante lichide, camioane care sa preia
                marfa dvs. in deplina siguranta cu termen de livrare cat mai scurt.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="~/Content/img/ltl-image.jpg" width="100%" />
            <p style="text-align:center; padding-top:10px;">
                Spre deosebire de transportul complet, prin transportul la grupaj oferim clientilor nostri posibilitatea de a transporta
                si cantitati mai mici de marfa. Se pot transporta astfel cantitati de marfuri sub capacitatea totala a unui mijloc de transport
                de la paleti, cutii, baloti, colete, etc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="transp-types">
                Firma noastra ofera in acest moment solutii de transport rutier intracomunitar in sistem “ONE WAY” sau “FLOTA DEDICATA”,
                unde o anumita capacitate si disponibilitate poate fi garantata. Aceasta ultima varianta complexa ofera clientului un avantaj competitional,
                avand la dispozitie o capacitate suficienta precum si un proces de incarcare si descarcare optimizat la <strong>tarife competitive</strong>.
            </h4>
            <h4 class="transp-types">
                Clientii nostri beneficiaza de o reducere a costurilor de transport prin utilizarea flotei noastre formate exclusiv din <strong>semiremorci Schmitz</strong>.
                Opeream o flota proprie de soferi si camioane pentru a garanta calitatea si capacitatea transportului.
                Mentionam deasemenea ca toate camioanele sunt dotate cu tehnica GPS de ultima generatie.
            </h4>
        </div>
    </div>
    <h2>Tipuri de marfa transportata</h2>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Content/img/transport-goods.jpg" width="100%" />
        </div>
        <div class="col-sm-6">
            <p>
            Putem asigura transport pentru orice tip de <strong>marfuri generale</strong> indiferent de cantitate si dimensiuni. In general transportam acest tip
            de marfa in camioane cu prelate sau dube in functie de specific atat pentru import cat si pentru export.
            </p>
            <p>
                In transportul marfurilor care necesita temperatura controlata pe durata transportului este foarte important sa lucrati cu un partener de incredere.
                Semiremorcile au termodiagrame ce pot fi verificate in orice moment pe perioada transportului.
                In plus, detinem <strong>camioane frigorifice cu dubla temperatura</strong> acestea fiind o varianta foarte eficienta pentru cei ce doresc sa transporte marfuri frigorifice variate care necesita temperaturi diferite de conservare si transport.
            </p>
            <p style="color:#fda400; font-style:italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                Oricare ar fi nevoile dumneavoastra de transport echipa noastra va sta la dispozitie cu o solutie rapida si eficienta!
            </p>
        </div>
    </div></br>
</div>

