<div class="modal fade right" id="eberspaecher-d2-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="EberspaecherD2ProductModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">Eberspaecher Airtronic D2</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5 product-modal-image">
                        <img src="~/Content/img/products/heaters/Eberspaecher-Airtronic-D2.jpg"
                             class="img-fluid">
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                Noua generatie de sisteme de încalzire, Airtronic, de 2,2 kW (tip D2), a suferit îmbunatatiri substantiale, atat in ceea ce priveste montajul, cat si performantele tehnice.
                            </p>
                            <p>
                                Aeroterma Airtronic poate fi montat atat pe autovehiculele diesel, cat si pe cele pe benzina, fiind produs in doua variante, B2 si B4.
                            </p>
                            <p><strong>Imbunatatiri aduse incalzitoarelor Eberspaecher Airtronic D2</strong></p>
                            <p>
                                Incalzitorul Eberspacher Airtronic D2 este acum cu 14% mai scurt, latimea fiind, de asemenea, redusa cu 310 mm. Este recomandata montarea sistemului de incalzire stationara in pozitie orizontala, sub patul soferului, sub scaunul co-pilotului sau in spatele cabinei, într-un suport special conceput. Eficienta sistemelor de încalzire pe aer se reflecta si in consumul de combustibil: la o capacitate de încalzire de 1200 W si un flux de aer de 60 kg/h, modelul mai mic, D2, consuma 0,15 I/h.
                            </p>
                            <p>
                                Incalzitorul stationar Eberspacher Airtronic D2 poate fi folosit vara pe post de ventilator si, de asemenea, la transporturile marfurilor perisabile, sensibile la o anumita temperatura.
                            </p>
                            <p>
                                Eberspacher a adus imbunatatiri semnificative încalzitoarelor pe aer a cabinelor, prin reducerea zgomotului de functionare redus si totodata consum scazut de combustibil, oferind astfel solutia optima pentru drumurile lungi, cu blocaje la granita si popasuri pe timp de noapte. Sistemele de incalzire stationara sunt operate cu telecomenzi diferite, care pot programa sistemele cu sapte zile înainte, in cazul a trei porniri pe zi.
                            </p>
                            <p>
                                Aeroterma (sirocou) Eberspacher este alegerea perfecta pentru incalzirea optima a cabinei autovehicului dvs!
                            </p>
                            <p><strong>Date tehnice Incalzitor stationar Eberspacher D2</strong></p>
                            <ul>
                                <li>
                                    Alimentare <strong>24V</strong>
                                </li>
                                <li>
                                    Siguranta la subalimentare pana la <strong>10.5V</strong> respectiv <strong>21V</strong>
                                </li>
                                <li>
                                    Siguranta la supraalimentare pana la <strong>16V</strong> respectiv <strong>32V</strong>
                                </li>
                                <li>
                                    Incalzitorul in functiune <strong>de la -40 ºC pana la +70 ºC</strong>
                                </li>
                                <li>
                                    Incalzitorul in stationare <strong>de la -40 ºC pana la +85 ºC</strong>
                                </li>
                                <li>
                                    Pompa de dozare in functiune <strong>de la -40 ºC pana la +50 ºC</strong>
                                </li>
                                <li>
                                    Pompa de dozare in stationare <strong>de la -40 ºC pana la +125 ºC</strong>
                                </li>
                                <li>
                                    Greutate <strong>4.5kg</strong>
                                </li>
                                <li>
                                    Dimensiuni: <strong>305 x 115 x 122 mm</strong>
                                </li>
                                <li>
                                    Putere de incalzire <strong>1200W</strong>
                                </li>
                                <li>
                                    Consum <strong>0.15l/h</strong>
                                </li>
                                <li>
                                    Capacitate de incalzire <strong>2.2Kw</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>