<div class="modal fade right" id="webasto3500ST-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="Webasto3500T" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">Webasto 3500ST</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/W8CJYooRSRY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                <strong>Incalzitoarele Webasto Air Top 3500 sunt proiectate pentru:</strong>
                            </p>
                            <ul>
                                <li>
                                    a încălzi cabine, tiruri, bărci, camioane, microbuze, furgoane, ambulanțe și autoturisme.
                                </li>
                                <li>
                                    pentru a dezgheța geamurile autovehiculului.
                                </li>
                                <li>
                                    pentru a incalzi marfa.
                                </li>

                                <br />
                                <p> Acestea nu sunt concepute pentru a încălzi suprafețele de marfă utilizate transportă substanțe periculoase.</p>

                                <p> Încălzitoarele funcționează independent de motor și sunt conectat la rezervorul de combustibil și la sistemul electric al vehicul.</p>
                                <br />
                            </ul>
                            <p>
                                <strong>Pentru a controla și monitoriza, încălzitorul dispune de:</strong>
                            </p>
                            <ul>
                                <li>
                                    o unitate de comandă cu senzor de temperatură
                                </li>
                                <li>
                                    un senzor de supraîncălzire integrat
                                </li>
                                <p>
                                    Încălzitorul poate fi controlat utilizând un dispozitiv extern senzor de temperatură în loc de temperatura internă
                                    senzor.
                                </p>
                            </ul>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>