<div class="modal fade right" id="webasto2000ST-product-modal" tabindex="-1" role="dialog"
     aria-labelledby="Webasto2000T" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content modal-with-video-content-size">
            <!--Header-->
            <div class="modal-header modal-header-custom">
                <div class="row">
                    <div class="col-md-11 col-sm-11" style="padding-left: 13%;">
                        <p class="heading">Webasto 2000ST</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="close modal-close-icon" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="modal-body modal-body-custom">
                <div class="row">
                    <div class="col-5">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/W8CJYooRSRY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="col-7">
                        <h3><strong>Descriere</strong></h3>
                        <div class="modal-content">
                            <p>
                                <strong>De ce sa montezi un incalzitor Webasto pe masina ta?</strong> 
                            </p>
                            <ul>
                                <li>
                                    Pentru unclimat mai bun in masina de la prima cheie
                                </li>
                                <li>
                                    Pornesti masina intr-un climat placut si confortabil , simtindu-te relaxat
                                </li>
                                <li>
                                    Pentru economie a combustibilului
                                </li>

                                <p>Motorul pre-incalzit are uzuri mult mai mici inca de la pornire. Uleiul are deja vascozitatea necesara si astfel ungerea se face mult mai bine. Motorul pre-incalzit consuma in primii Km mai putin combustibil intrucat ajunge mai rapid la temperatura de regim. Emisiile de noxe se reduc si apar mult mai rar probleme la motor datorita uzurii.</p>
                                <li>
                                    Pentru un climat mai sanatos
                                </li>
                                <p>O masina confortabila te ajuta sa iti pastrezi sanatatea in anotimpul rece. Soferul pur si simplu se muta din confortul casei intr-o masina calda si placuta.</p>
                                <li>
                                    Pentru o operare usoara
                                </li>
                                <p>Utilizand ceasul programabil, noile modele de telecomenzi T91 sau HTM 100 si inovativul sistem prin telefon ThermoCall pornirea incalzitorului este mereu intuitiva si usor de realizat.</p>
                                <li>
                                    Pentru a economisi timp
                                </li>
                                <p>Acum nu mai trebuie sa stai minute in sir cu motorul pornit la relanti ca sa se incalzeasca masina , nu mai trebuie sa cureti gheata si sa stergi parbrizul aburit.</p>
                            </ul>
                        </div>
                        <div class="row modal-contact-info" style="font-size: 14px!important">
                            <div class="col-md-4 col-sm-4 col-lg-4" align="left">
                                <p><strong>Cereti mai multe detalii: </strong></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="center">
                                <span style="display:inline-block; padding-right:5px;"><i class="fa fa-phone mr-3" style="color:deepskyblue;"></i><a href="tel:0769 325 555" style="color:black;"> +40 (0)769 325 555</a></span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4" align="right">
                                <span style="display:inline-block;"><i class="fa fa-phone mr-3" style="color:red"></i><a href="tel:0742 122 729" style="color:black;"> +40 (0)742 122 729 </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>